.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: 10pt;
  color: white;
}

.buttons {
  justify-content:space-between;
  margin: auto;
  padding-bottom: 5px;
}

button {
  padding: 2px;
  margin: 2px;
}

h3{
  border-top: .5px solid silver;
  padding-top: 15px;
}

body {
  background-color: #282c34;
}